<a href="https://colab.research.google.com/github/urness/CS167Notebook1/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Movies!
**Name: your name here**

**Due 2/8 before class**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [ ]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
movies = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/MoviesData.csv')

## Exercise #1: 
Print out all of the possible values for the Genres.
- *Hint: I'm looking for each possible Genre to be ouput once. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this. It should require one line of code.*

## Exercise #2:
Create a subset of data representing movies from the year 1980-1990 (including both 1980 and 1990) with the value "Adventure" in the Genre column. Save this DataFrame to the variable name `classic_adventure_movies`. Display the first 5 lines of this subset.

## Exercise #3
Using `classic_adventure_movies`, what is the median **IMDb** rating?

## Exercise #4
Create a new subset with only movies with `Rotten Tomatoes` values >= 95 . Include 3 columns, the `Title`, `Year`, and `Rotten Tomatoes`. Display the first 5 lines of this subset.

## Exercise #5

What is the average (mean) IMDb score for each of the different Genres?  (I'm looking at the average of the 'IMDb' column, grouped by Genre--so Action v Adventure v Animation etc.). Look at this list to determine which genre has the highest average.
- In addition to supplying the code to output the averages for each Genre,answer the question of the hightest average in a text cell ...*

## Exercise #6

Do something cool. Using the movies dataset, get creative and show me something about the dataset. Use a text cell to explain what you did.